@media (max-width: 3000px) {
	.presaleback h2 {
		margin-top: -200px;
	}
}
@media (max-width: 2200px) {
	.presaleback h2 {
		margin-top: -100px;
	}
}
@media (max-width: 1440px) {
	.body {
		overflow: hidden;
	}
	.reimagining img {
		width: 90%;
	}
	.creators span {
		width: 437px;
	}
	.holders span {
		width: 437px;
	}
	.differentText {
		margin-top: -5%;
		width: 35%;
	}
	.img5page {
		width: 30%;
	}
	.back6 {
		margin: 0;
		width: 80%;
	}
	.bolshe1 {
		padding-top: 25%;
		margin-right: -15%;
	}
	.bolshe2 {
		padding-top: 25%;
		margin-right: -15%;
	}
}
@media (max-width: 1230px) {
	.presaleback h2 {
		margin-top: -50px;
	}
	.textCom {
		width: 80%;
	}
	.img5page {
		width: 40%;
	}
	.presale6::before {
		width: 267px;
	}
	.reimagining img {
		width: 80%;
	}
	.creators span {
		width: 377px;
	}
	.holders span {
		width: 377px;
	}
	.differentText {
		right: 0;
		flex-direction: column;
		width: 50%;
	}
	.block7 h3 {
		margin-left: -30px;
		width: 70%;
	}
	.presale6 {
		background-size: auto;
	}
}
@media (max-width: 900px) {
	.navleft {
		padding: 0;
	}
	.imgNav img {
		width: 110px;
		padding-left: 10px;
	}
	.reiText {
		width: 50%;
	}
	.creators span {
		width: 310px;
	}
	.holders span {
		width: 310px;
	}
	.differentText h2 {
		margin: 0;
		padding: 0;
	}
	.differentText h3 {
		margin: 0;
		padding: 0;
	}
	.differentText h4 {
		margin: 0;
		padding: 0;
	}
	.bolshe1 {
		padding-top: 35%;
		margin-right: -20%;
	}
	.bolshe2 {
		padding-top: 35%;
		margin-right: -20%;
	}
}
@media (max-width: 750px) {
	.navigation {
		display: flex;
	}
	.reimagining {
		flex-direction: column;
	}
	.reiText h2 {
		word-break: break-all;
		overflow-wrap: break-word;
		margin-left: -30%;
		padding: 0;
	}
	.reiText h1 {
		word-break: break-all;
		left: 0;
		margin-left: -30%;
		padding: 0;
	}
	.reiText h3 {
		word-break: break-all;
		overflow-wrap: break-word;
		left: 0;
		margin-left: -30%;
		padding: 0;
	}
	.forUser {
		flex-direction: column;
	}
	.creators {
		margin-left: 3%;
		text-align: center;
		width: 90%;
	}
	.creators span {
		padding-left: 25%;
	}
	.toknersImg {
		width: 90%;
	}
	.holders {
		text-align: center;
		width: 90%;
	}
	.holders span {
		padding-left: 25%;
	}
	.different3 {
		padding-left: 5px;
		flex-direction: column;
	}
	.d3 {
		width: 100%;
		transform: scale(-1, 1);
	}
	.d4 {
		width: 100%;
		transform: scale(-1, 1);
	}
	.differentText {
		display: flex;
		left: 0;
		padding-left: 10%;
		margin-top: 70%;
	}
	.columnAll {
		justify-content: center;
		flex-direction: column;
		width: 80%;
	}
	.container5 {
		display: flex;
		flex-direction: column-reverse;
	}
	.c5 {
		flex-direction: column-reverse;
	}
	.presale6 {
		display: flex;
		height: 1900px;
		background-size: cover;
	}
	.back6 {
		position: absolute;
		overflow: hidden;
		flex-direction: column;
		height: 1900px;
		justify-content: center;
	}
	.presaleback {
		margin-left: -90px;
	}
	.phaseOne {
		padding-left: 30%;
	}
	.presale6::before {
		display: none;
	}
	.blockText {
		flex-direction: column;
	}
	.block7 {
		margin: 10px 10%;
	}
	.bolshe1 {
		padding-right: 70px;
		padding-top: 100%;
		transform: rotate(90deg);
	}
	.bolshe2 {
		padding-right: 70px;
		padding-top: 100%;
		transform: rotate(90deg);
	}
}
@media (max-width: 660px) {
	.container {
		overflow: hidden;
	}
	.navleft {
		flex-direction: column;
	}
	.navigation {
		flex-direction: column;
	}
	.reimagining {
		word-wrap: break-word;
		width: 95%;
	}
	.back6 {
		width: 94%;
	}
	.forUser {
		width: 94%;
	}
	.creators h2 {
		margin-left: -20%;
	}
	.creators span {
		margin-left: -20%;
	}
	.creators a {
		margin-left: -20%;
	}
	.holders h2 {
		margin-left: -20%;
	}
	.holders span {
		margin-left: -20%;
	}
	.holders a {
		margin-left: -20%;
	}
	.coming5 {
		flex-direction: column-reverse;
	}
	.back6 {
		width: 94%;
	}
	.phaseOne {
		width: 70%;
		margin-top: 10%;
		margin-left: 180px;
	}
	.howTo {
		margin-top: -18%;
		margin-left: -50px;
	}
	.presaleback h2 {
		margin-top: 20%;
	}
	.block7 {
		width: 99%;
		margin-left: -4px;
	}
	.bolshe1 {
		margin-top: 20%;
	}
	.bolshe2 {
		margin-top: 20%;
	}
	.footer {
		justify-content: center;
		width: 99%;
		flex-direction: column;
	}
	.socialButton {
		padding-left: 20%;
	}
	.reserved h2 {
		padding-right: 90px;
	}
}
@media (max-width: 410px) {
	.navMenu2 {
		margin-left: 25%;
	}
	.reiText h1 {
		width: auto;
		height: 300px;
		overflow-wrap: break-word;
		word-break: keep-all;
		font-size: 36px;
	}
	.reiText h3 {
		width: auto;
		height: 400px;
		overflow-wrap: break-word;
		word-break: keep-all;
		font-size: 24px;
	}
	.creators span {
		width: 99%;
		margin-left: -90px;
		overflow-wrap: break-word;
		word-break: keep-all;
	}
	.holders span {
		width: 99%;
		margin-left: -100px;
		overflow-wrap: break-word;
		word-break: keep-all;
	}
	.differentText h2 {
		padding-top: 90px;
	}
	.differentText h3 {
		width: 220px;
	}
	.differentText h4 {
		width: 220px;
	}
	.crypto h2 {
		width: 90%;
		overview-wrap: break-word;
	}
	.crypto h3 {
		width: 90%;
		overview-wrap: break-word;
	}
	.crypto h4 {
		width: 90%;
		overview-wrap: break-word;
	}
	.economy h2 {
		width: 90%;
		overview-wrap: break-word;
	}
	.economy h3 {
		width: 90%;
		overview-wrap: break-word;
	}
	.personalities p {
		width: 90%;
		overview-wrap: break-word;
	}
	.kanye h2 {
		width: 90%;
		overview-wrap: break-word;
	}
	.kanye h3 {
		width: 90%;
		overview-wrap: break-word;
	}
	.presale6 {
		background-position: center;
	}
	.presale6 h2 {
		padding-top: 80px;
		font-size: 36px;
	}
	.buy7 {
		width: 100%;
		margin-top: -150px;
		padding-top: 80px;
		z-index: 51212120;
	}
	.bolshe1 {
		margin-top: 30%;
	}
	.bolshe2 {
		margin-top: 30%;
	}
	.socialButton {
		width: 99%;
		margin-left: -30px;
	}
	.reserved h2 {
		padding-right: 160px;
		width: 90%;
	}
}
@media (max-width: 340px) {
	.bolshe1 {
		margin-top: 50%;
	}
	.bolshe2 {
		margin-top: 50%;
	}
	.hrefBottom {
		display: none;
	}
	.socialButton {
		width: 99%;
		margin-left: -60px;
	}
	.reserved h2 {
		padding-right: 130px;
		width: 90%;
	}
}
