.presale6 {
	background-image: url(../img/block2-color.png);
	display: flex;
	position: relative;
	background-size: cover;
	border-radius: 0 280px 0 280px;
	justify-content: space-between;

	height: 835px;
}
.presaleback h2 {
	position: absolute;
	display: flex;
	padding-top: 10%;
	padding-left: 40%;
	width: 337px;
	height: 54px;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 54px;
	text-align: center;
	color: #ffffff;
}
.back6 {
	display: flex;
	padding: 5%;
	width: 100%;
	justify-content: space-between;
	align-items: flex-end;
	align-content: center;
	margin-top: 20%;
}
.phaseOne {
	display: flex;
	justify-content: center;
	padding-left: 10%;
	background: #ffffff;
	border-radius: 25px;
	flex-direction: column;
	margin-left: 1%;
	padding-top: 1%;
	width: 350px;
}
.onePhase {
	padding-top: 10%;
	padding-left: 10%;
	width: 82px;
	height: 82px;
}
.phaseOne h2 {
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 54px;
	color: #191b21;
	margin-bottom: 0;
}
.phaseOne h3 {
	margin: 0;
	margin-left: -1%;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	color: #191b21;
	opacity: 0.8;
	margin-bottom: 20%;
}
.phaseOne h4 {
	margin-left: -4%;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	color: #191b21;
	opacity: 0.8;
}
.phaseOne h5 {
	margin: 0;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #191b21;
	opacity: 0.8;
}
.phaseOne h6 {
	margin: 0;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #191b21;
	opacity: 0.8;
	margin-bottom: 10%;
}
.presale6:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	margin-top: -180px;
	width: 13%;
	height: 35%;
	background: linear-gradient(0deg, #2b3087 0%, #00b4ec 66.27%);
	transform: rotate(180deg);
	z-index: -1;
}
.back6right {
	position: absolute;
	display: flex;
	background-color: #0f1320;
	width: 290px;
	height: 270px;
	right: 0;
	z-index: -1;
}
.back6rightbottom {
	position: absolute;
	display: flex;
	background-color: #e20613;
	width: 350px;
	height: 40%;
	right: 0;
	bottom: -50px;
	z-index: -1;
}
.back6leftbottom {
	position: absolute;
	display: flex;
	background-color: #0f1320;
	width: 350px;
	height: 40%;
	left: 0;
	bottom: -50px;
	z-index: -1;
}
