.teamList h2 {
	padding-top: 5%;
	font-family: Century Gothic;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
padding-left: 3%;
letter-spacing: -0.02em;
color: #FFFFFF;

}
.teamPeople {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.peopleTeam {
	margin-left: 40px;
	width: 378p
	height: 560px;
	display: flex;
	flex-direction: column;
	width: 378px;
	height: 560px;
	background: #0d0b16;
	border-radius: 25px;
}
.peopleTeam h2 {
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
}
.peopleTeam h3 {
	font-family: Century Gothic;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;

	color: #ffffff;
}
.peopleTeam img {
	height: 420px;
}
.imgP2 {
	width: 257px;
}
